# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Private exp files
.ipynb_checkpoints
#*.ipynb
*.csv
run.sh
make_attributions_run.sh
Dietnet/Interpretability/experiment_scripts/*.sh

# Debugging and testing
DATA/
EXPERIMENT_01/
Test_dev/
Dietnet/tests/filenames.py

Dietnet/depricated/
Dietnet/Interpretability/depricated/
Dietnet/helpers/depricated/
